html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 25px;
}

#memory {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly;
  align-content: space-between; */
}

.back {
  height: 100px;
  width: 100px;
  background-color: blue;
  border: chartreuse solid 5px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.back img {
  margin: auto;
}

.front img {
  margin: auto;
}

img {
  height: 125px;
}

.front {
  background-color: black;
  height: 100px;
  width: 100px;
  border: chartreuse solid 5px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0px;
}

#card1,
#card2,
#card3,
#card4,
#card5,
#card6,
#card7,
#card8,
#card9 {
  height: 200px;
  width: 200px;

  /* margin-top: 10px; */
}

#card-1,
#card-2,
#card-3,
#card-4,
#card-5,
#card-6,
#card-7,
#card-8,
#card-9 {
  height: 200px;
  width: 200px;

  /* margin-top: 10px; */
}
