* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: lightgrey;
}

html {
  min-height: 100vh;
}

.page-title {
  color: white;
  text-align: center;
  font-size: 2em;
}

.game-info {
  color: white;
  font-size: 1em;
}

.game-info-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(6, auto);

  margin: 50px;
  justify-content: center;
  perspective: 500px;
}

.card {
  background-color: black;
  height: 200px;
  width: 200px;
  position: relative;
  border: solid 5px chartreuse;
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  transition: transform 500ms ease-in-out;
}

.card.visible .card-back {
  transform: rotateY(-180deg);
}

.card.visible .card-front {
  transform: rotateY(0);
}

.card-back {
}

.overlay-text {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  justify-content: center;
  align-items: center;
  z-index: 50;
  font-family: sans-serif;
  color: white;
}

overlay-text-small {
  font-size: 0.3em;
}

.overlay-text.visible {
  display: flex;
  animation: overlay-grow 500ms forwards;
  flex-direction: column;
}

@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 8em;
  }
}

.card-front {
  transform: rotateY(180deg);
  background: blue;
}

.starwars {
  height: 100px;
  width: 100px;
  align-self: center;
  position: relative;
}

.card-value {
  height: 125px;
  width: 125px;
  align-self: center;
  position: relative;
}

@media (max-width: 600px) {
  .game-container {
    grid-template-columns: repeat(3, auto);
    align-items: center;
  }
}
